In [ ]:
# for loop

# 1. basic use for range

# for variable in range(start, stop, step):
#     # code to execute

In [2]:
# prints only the even numbers between 2 and 20
for variable in range(2, 20, 2):
    print(variable)

2
4
6
8
10
12
14
16
18

In [3]:
# 2 loopint through a list

fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [4]:
# 3 Looping through a string
for char in "Python":
    print(char)

P
y
t
h
o
n

In [5]:
# 4 looping through a dictionary

person = {"name": "Alice", "age": 25}

# keys
for key in person:
    print(key, "->", person[key])

# values
for value in person.values():
    print(value)

# items
for key, value in person.items():
    print(key, value)

name -> Alice
age -> 25
Alice
25
name Alice
age 25

In [6]:
# 5 nested for loop

for i in range(1, 4):          # outer loop
    for j in range(1, 4):      # inner loop
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [7]:
# 6 using and end statement 
for i in range(1, 5):
    print(i)
else:
    print("Loop completed!")

1
2
3
4
Loop completed!

In [10]:
# 7 List comprehensions = compacted for loop
squares = [x**20 for x in range(1, 100)]
print(squares)

[1, 1048576, 3486784401, 1099511627776, 95367431640625, 3656158440062976, 79792266297612001, 1152921504606846976, 12157665459056928801, 100000000000000000000, 672749994932560009201, 3833759992447475122176, 19004963774880799438801, 83668255425284801560576, 332525673007965087890625, 1208925819614629174706176, 4064231406647572522401601, 12748236216396078174437376, 37589973457545958193355601, 104857600000000000000000000, 278218429446951548637196401, 705429498686404044207947776, 1716155831334586342923895201, 4019988717840603673710821376, 9094947017729282379150390625, 19928148895209409152340197376, 42391158275216203514294433201, 87732524600823436081182539776, 176994576151109753197786640401, 348678440100000000000000000000, 671790528819082282036142601601, 1267650600228229401496703205376, 2345734188103679287078463273601, 4261655511456885005249781170176, 7609583501588058567047119140625, 13367494538843734067838845976576, 23122483666661158726686253786801, 39415944008219710658556042674176, 66266211231824447117620880943201, 109951162777600000000000000000000, 180167782956420929503029846064801, 291733167875766667063796853374976, 467056167777397914441056671494001, 739696442014594807059393047166976, 1159445329576199417209625244140625, 1799519816997495209117766334283776, 2766668711962335809450748011342401, 4215263689798428837764998235160576, 6366805760909027985741435139224001, 9536743164062500000000000000000000, 14171098670753043575626125424226001, 20896178655943101411324274803736576, 30585627290848204916791848989276401, 44450351179593105816204799588171776, 64158439152961731834506988525390625, 91994219715833035312262062828158976, 131068133085775282769190451412780001, 185592264682226060569122324245118976, 261240335504588722483367157995242801, 365615844006297600000000000000000000, 508858109619679129936596364708525201, 704423425546998022968330264616370176, 970087679866349716790969219380140801, 1329227995784915872903807060280344576, 1812454583633499091987705230712890625, 2459680572025003612127586705579442176, 3322737661703085672358476688602579601, 4468669689581414651264794540298469376, 5983865382382622672294674517005559601, 7979226629761200100000000000000000000, 10596610576391421032662867140133202401, 14016833953562607293918185758734155776, 18469587772135192290560825407466407201, 24245681433252891172993765250748645376, 31712119389339932240545749664306640625, 41330612904362991323506061003116773376, 53680246747375952479747683856888021201, 69485158708621551460806432855897931776, 89648251976843595444986830377401534401, 115292150460684697600000000000000000000, 147808829414345923316083210206383297601, 188919613181312032574569023867244773376, 240747534123068430155382383568465195601, 305904398238499908683087849324518834176, 387595310845143558731231784820556640625, 489743888183352795532945440368493592576, 617141927185296106289002325476403184801, 775627936381895764407110123826159026176, 972299657790850297934682879408841327201, 1215766545905692880100000000000000000000, 1516449130501758165088248370527242650801, 1886933291627965536395870951737944702976, 2342388736625917052139104541473924426001, 2901062411314618233730627546741369470976, 3584859224085422343574104404449462890625, 4420024338794077316988270789431736139776, 5437943429267472574499737549036572950401, 6676079717550944929176811092546946072576, 8179069375972308708891986605443361898001]

In [11]:
# 8 iterating over multiple sequences using zip
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 22]

for name, age in zip(names, ages):
    print(name, "is", age, "years old")

Alice is 25 years old
Bob is 30 years old
Charlie is 22 years old

In [12]:
# 9 using for with enumerate

fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [13]:
# 10 break and continue
for num in range(1, 11):
    if num % 3 == 0:
        continue  # skip numbers divisible by 3
    if num > 8:
        break     # stop the loop if number > 8
    print(num)

1
2
4
5
7
8

In [ ]:
# pascal's pyramid code

In [2]:
rows = int(input("Enter how many rows of Pascal's Triangle you want to print: "))

for i in range(rows):
    num = 1
    print(" " * (rows - i), end="")

    for j in range(i + 1):
        print(num, end=" ")
        num = num * (i - j) // (j + 1) 

    print()

Enter how many rows of Pascal's Triangle you want to print:  20

                    1
                   1 1
                  1 2 1
                 1 3 3 1
                1 4 6 4 1
               1 5 10 10 5 1
              1 6 15 20 15 6 1
             1 7 21 35 35 21 7 1
            1 8 28 56 70 56 28 8 1
           1 9 36 84 126 126 84 36 9 1
          1 10 45 120 210 252 210 120 45 10 1
         1 11 55 165 330 462 462 330 165 55 11 1
        1 12 66 220 495 792 924 792 495 220 66 12 1
       1 13 78 286 715 1287 1716 1716 1287 715 286 78 13 1
      1 14 91 364 1001 2002 3003 3432 3003 2002 1001 364 91 14 1
     1 15 105 455 1365 3003 5005 6435 6435 5005 3003 1365 455 105 15 1
    1 16 120 560 1820 4368 8008 11440 12870 11440 8008 4368 1820 560 120 16 1
   1 17 136 680 2380 6188 12376 19448 24310 24310 19448 12376 6188 2380 680 136 17 1
  1 18 153 816 3060 8568 18564 31824 43758 48620 43758 31824 18564 8568 3060 816 153 18 1
 1 19 171 969 3876 11628 27132 50388 75582 92378 92378 75582 50388 27132 11628 3876 969 171 19 1